{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
   {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            You Form Has Errors
            {% for field in form %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    {% if etat %}
        <h2 class="mb-3">Invoice</h2>
      <form method="POST">
        <div class="row mb-3">
            <div class="col">
            {{form.customer}}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer Facture</button>
      </form>
    {% else %}
    <h2 class="mb-3">Customer</h2>
    <form method="post">
        {% csrf_token %}

        <div class="row mb-3">
            <div class="col">
                {{form.name}}
            </div>
            <div class="col">
                {{form.email}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                {{form.phone}}
            </div>
            <div class="col">
                {{form.address}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                {{ form.sex }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                {{form.age}}
            </div>
            <div class="col">
                {{form.city}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                {{form.zip_code}}
            </div>
        </div>

    
        <button type="submit" class="btn btn-secondary">Enregistrer</button>
    </form>
    {% endif %}

   
</div>

{% endblock content %}