{% extends 'base.html' %}

{% block content %}
    <div class="my-3">
        <a href="" class="btn btn-primary">New Invoice</a>
        <a href="" class="btn btn-secondary">Register a new customer</a>
    </div>
   {% if invoices %}
    <table class="table table-striped table-hover table-sm">
    <thead class="table-dark">
        <tr>
        <th scope="col">Customer Name</th>
        <th scope="col">Date</th>
        <th scope="col">Total</th>
        <th scope="col">Paid</th>
        <th scope="col">Type of invoice</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.customer.name }}</td>
                <td>{{ invoice.invoice_date_time }}</td>
                <td>{{ invoice.total }}</td>
                <td>
                    {% if invoice.paid %}
                        <span class="badge text-bg-success">Payer</span>
                    {% else %}
                        <span class="badge text-bg-warning">Non Payer</span>
                    {% endif %}
                </td>
                <td>{{ invoice.invoice_type }}</td>
                <td>
                    <a href="" class="btn btn-primary btn-sm">Read</a>
                    <a href="" class="btn btn-secondary btn-sm">Edit</a>
                    <a href="" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
   {% endif %}
{% endblock content %}